


.catalog {
  padding: 50px 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
}



.image {
  width: 100%;
  object-fit: cover;
}

.name {
  text-align: center;
  display: block;
  padding: 11px 0;
  font-size: 20px;
  font-weight: 500;
}